*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", sans-serif;
}

body{
    scroll-behavior:smooth;
}

.navbar{
    background:rgba(0,0,0,0.5);
    backdrop-filter:blur(10px);
}

section{
    height:100vh;
    position:relative;
}

.hero{
    background:url("code.jpg") center/cover no-repeat;
}

.about{
    background:url("bekasi.jpg") center/cover no-repeat;
    display:flex;
    align-items:center;
}

.contact{
    background:url("https://images.unsplash.com/photo-1519389950473-47ba0277781c") center/cover no-repeat;
}

.hero::before,
.about::before,
.contact::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.55);
}

.hero .container,
.about .container,
.contact .container{
    position:relative;
    z-index:2;
}

.profile-img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid white;
    box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

.biodata-card{
    background:white;
    padding:40px;
    border-radius:12px;
    max-width:600px;
    margin:auto;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.biodata-card h1{
    color:#333;
}

.biodata-card table{
    color:#333;
    font-size:18px;
}

.btn{
    border-radius:30px;
    padding:12px 30px;
}